<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kids Map</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plan your activity...
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="sightwords/">Sight words</a></li>
            <li><a class="dropdown-item" href="vowels/">Vowels</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
          <!-- <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <li><a href="/sightwords" routerLinkActive="active" ariaCurrentWhenActive="page">Sight Words</a></li>
              <li><a href="/vowels" routerLinkActive="active" ariaCurrentWhenActive="page">Vowels</a></li>
            </ul> -->
       
<router-outlet></router-outlet>